In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('c://sharedfolder/spark/salestxns.tsv', sep='\t')

In [7]:
df.head()

,1,43,Camping & Hiking,957,Diamondback Women's Serene Classic Comfort Bi,299.98,1.1,11599
0,2,48,Water Sports,1073,Pelican Sunstream 100 Kayak,199.99,1,256
1,3,24,Women's Apparel,502,Nike Men's Dri-FIT Victory Golf Polo,50.00,5,256
2,4,18,Men's Footwear,403,Nike Men's CJ Elite 2 TD Football Cleat,129.99,1,256
3,5,40,Accessories,897,Team Golf New England Patriots Putter Grip,24.99,2,8827
4,6,17,Cleats,365,Perfect Fitness Perfect Rip Deck,59.99,5,8827

In [8]:
df.shape

(172197, 8)

In [ ]:
Txn Id
Category Id
Category Name
Product Id 
Product Name 
Price
Quantity
Customer Id

In [ ]:
Load the data as an RDD
Find out the average sales in each category
Find out the customer who  maximum & minimum spends
Most selling category/product
Least selling category/product