In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
import os
os.environ['JAVA_HOME'] = "/usr/java/jre1.8.0-x64"

In [ ]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [ ]:
df = spark.read.json('people.json')

In [ ]:
df.withColumn('age_doubled', df['age']*2).show()

In [ ]:
df.withColumnRenamed('age',"Age").show()

In [ ]:
# Create a temporary view in order to apply sql queries
df.createOrReplaceTempView('mytable')

In [ ]:
spark.sql("SELECT * FROM MYTABLE WHERE AGE<20").show()

In [ ]:
df1 = spark.read.csv('sales_info.csv',inferSchema=True, header=True)

In [ ]:
df1.show(4)

In [ ]:
df1.printSchema()

In [ ]:
df1.columns

In [ ]:
df1.select('Company').show()

In [ ]:
df1.filter(df1['Company']=='GOOG').show()

In [ ]:
grp = df1.groupBy('Company')

In [ ]:
grp.mean().show()

In [ ]:
df1.groupBy('Company').mean().show()

In [ ]:
df1.groupBy('Company').agg({'Sales':'min'}).show()

In [ ]:
import numpy as np

In [ ]:
df1.groupBy('Company').agg({'Sales':'min','Sales':'max'}).show()

In [ ]:
df1.orderBy(df1['Sales'].desc()).show(5)

In [ ]:
help(df1.orderBy)

In [ ]:
import pandas as pd

In [ ]:
df1.toPandas()

In [ ]:
#pip install --user pandas==1.1.5

In [ ]:
from pyspark.sql.functions import stddev, mean, avg, round

In [ ]:
df1.select(stddev(df1['Sales'])).show()

In [ ]:
df1.write.parquet('mynewfile')

In [ ]:
df2 = spark.read.csv('ContainsNull.csv', inferSchema=True,header=True)

In [ ]:
df2.show()

In [ ]:
df2.printSchema()

In [ ]:
df2.dropna().show()

In [ ]:
df2.dropna(thresh=2).show()

In [ ]:
df2.dropna(subset=['Sales']).show()

In [ ]:
df2.fillna(subset=['Sales'], value=0).show()

In [ ]:
df2.select(mean(df2['Sales'])).collect()[0][0]

In [ ]:
df2.fillna(subset=['Sales'], value=df2.select(mean(df2['Sales'])).collect()[0][0]).show()